footer{
    padding:60px 0;
    text-align:center;
    opacity:.5;
    //background-color: #e9a9a9;
    margin-top: 50px;

    .Link-box{
      //background-color: yellow;
      display: block;
      text-decoration: none;
      
    .Link-box__text{
      color: #F0F0F0;
      margin: auto;
      left: 0;
      right: 0;
      width: 100px;
      font-size: 20px;
      font-weight: 800;
      font-family: "Oswald",sans-serif;
    }
    span {
      color:#d21212;
      font-family: "Oswald",sans-serif; 
    }

    .link-button{
      color: #ffff
      
    }
  }
};
      
