.header {
    margin: 0 auto;
    background-color: var(--darkgray);
}

.header-category__box {
  width: 500px;
  text-decoration: none;
  padding-bottom: 60px;
}

.header__logo{
  position: absolute;
  padding-bottom: 10px;
  color: var(--white);
  margin-left: 40px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;

  span {
    color:var(--red);
  }
}

@mixin Item {
  background-color: var(--red);
  position: relative;
  top: 2px;
  padding: 10px 15px 33px 10px;
  border-radius: 0.25rem;  
};

.header-category__nave {
  width: 300px;
  height: 50px;
  position: absolute;
  margin-left: 200px;
  display: flex;
  margin-top: 5px;
  gap: 40px;

  .active {
    @include Item;
  }

  a {
    text-decoration: none;
    color: var(--white);
    top: 13px;
    position: relative;
  }
}