* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  };

  body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-color: #000000; 
  };
  
  :root{
    --red:#d21212;
    --darkgray:#4342429c;
    --gray:#DDDDDD;
    --white:#F0F0F0;
    --black:#212529;
    --darkblack:#000000;
    --yellow: #F9D949;
  };

  a {
    text-decoration: none;
  };
  
 