@import'../variables';

.AboutContainer{
  width: 100%;


  .AboutContainer-photo{
    width: 250px;
    height: 250px;
    margin: 40px auto 20px;
    padding: 30px;
    border: 10px solid var(--white);
    border-radius: 50%;
    box-sizing: border-box;
    background-color: var(--white);
    position: relative;
    overflow: hidden;

    img{
      width: 271px;
      height: 271px;
      position: absolute;
      left: -23px;
      top: -12px;
    }
  }

  .AboutContainer-box{
    display: block;
    font-family: 'Noto Sans', sans-serif;

    span{
      width: 240px;
      font-size: 50px;
      font-weight:$fontW800;
      display: flex;
      color: var(--white);
      margin: auto;
      margin-bottom: 20px;
    }

    .AboutContainer-box__bottom {
      width: 260px;
      display: block;
      margin: auto;

      p {
        color:var(--white);
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
};